.ui.menu.inverted {
  background-color: #333333 !important;
}

.ui.header.bold {
  color: white;
}

.active.item {
  border-color: #82B4EE !important;
}

.ui.header {
  color: #82B4EE;
}

.ui.override.black {
  background-color: #1B1B1B;
  border-color: #1B1B1B;
}

.ui.inverted.raised.padded.segment {
  background-color: #424242;
}

ui.white {
  color: white !important;
}

.ui.card {
  background-color: #313131 !important;
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.4) !important;
}