@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A191B;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}